rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && firestore.exists(/databases/(default)/documents/settings/admins)
        && request.auth.token.email in firestore.get(/databases/(default)/documents/settings/admins).data.emails;
    }

    match /meals/{fileName} {
      allow read: if true;
      allow write: if isAdmin()
        && request.resource.size < 5 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
  }
}
